In [1]:
# Import the dependencies.

import pandas as pd

import gmaps

import requests

# Import the API key.

from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame. 

city_data_df = pd.read_csv("weather_data/cities.csv")

city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Chokurdakh,RU,2022-07-19 06:47:49,70.6333,147.9167,48.18,48,73,15.05
1,1,Zhanaozen,KZ,2022-07-19 06:47:49,43.3000,52.8000,104.25,11,0,14.76
2,2,Hermanus,ZA,2022-07-19 06:47:50,-34.4187,19.2345,52.81,72,98,3.91
3,3,Ulety,RU,2022-07-19 06:47:50,51.3572,112.4849,84.78,34,81,6.62
4,4,Abong Mbang,CM,2022-07-19 06:47:50,3.9833,13.1833,69.08,88,100,4.38

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.

gmaps.configure(api_key=g_key)

# Create a Maximum Temperature Heatmap

In [5]:
# Get the maximum temperature.

max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature

# Get the latitude and longitude 

locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.

max_temp = city_data_df["Max Temp"]

# Assign the figure variable.

fig = gmaps.figure()

# Assign the heatmap variable.

heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)

# Add the heatmap layer.

fig.add_layer(heat_layer)

# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of temperature (change heat_layer code)

# Get the latitude and longitude 

locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.

max_temp = city_data_df["Max Temp"]

# Assign the figure variable.

fig = gmaps.figure()

# Assign the heatmap variable.

heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])

# Add the heatmap layer.

fig.add_layer(heat_layer)

# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Heatmap of temperature (change heat_layer code)

# Get the latitude and longitude 

locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.

max_temp = city_data_df["Max Temp"]

# Assign the figure variable.

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.

heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp],dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.

fig.add_layer(heat_layer)

# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

# Create a Percent Humidity Heatmap

In [10]:
# Heatmap of percent humidity

locations = city_data_df[["Lat", "Lng"]]

humidity = city_data_df["Humidity"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)


# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

# Create a Percent Cloudiness Heatmap

In [19]:
# Heatmap of percent cloudiness 

locations = city_data_df[["Lat", "Lng"]]

clouds = city_data_df["Cloudiness"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)


# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

# Create a Wind Speed Heatmap

In [21]:
# Heatmap of percent wind speed 

locations = city_data_df[["Lat", "Lng"]]

wind = city_data_df["Wind Speed"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)


# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

# Get Vacation Criteria

In [23]:
# Ask the customer to add a minimum and maximum temperature value.

min_temp = float(input("What is the minimum temperature you would like for your trip? "))

max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [29]:
# Filter the dataset to find the cities that fit the criteria.

preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Ulety,RU,2022-07-19 06:47:50,51.3572,112.4849,84.78,34,81,6.62
9,9,Kijang,KR,2022-07-19 06:41:03,35.2442,129.2139,83.93,82,47,5.97
11,11,Kavieng,PG,2022-07-19 06:47:53,-2.5744,150.7967,82.56,74,100,9.01
12,12,Isangel,VU,2022-07-19 06:41:15,-19.5500,169.2667,80.71,83,75,0.00
19,19,Waingapu,ID,2022-07-19 06:40:34,-9.6567,120.2641,82.15,56,39,15.21
22,22,Margate,GB,2022-07-19 06:41:01,51.3813,1.3862,84.11,54,0,5.01
24,24,Lixourion,GR,2022-07-19 06:48:00,38.2019,20.4314,80.60,74,0,5.75
26,26,Kapaa,US,2022-07-19 06:48:00,22.0752,-159.3190,82.38,80,40,19.57
29,29,Northam,GB,2022-07-19 06:48:01,51.0333,-4.2167,76.01,45,61,17.20
30,30,Morant Bay,JM,2022-07-19 06:48:02,17.8815,-76.4093,82.02,85,6,7.70

In [30]:
# Check if DataFrame has any null values

preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [33]:
preferred_cities_df.count()

City_ID       206
City          206
Country       206
Date          206
Lat           206
Lng           206
Max Temp      206
Humidity      206
Cloudiness    206
Wind Speed    206
dtype: int64

# Map Vacation Criteria

In [35]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.

hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()

hotel_df["Hotel Name"] = ""

hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
3        Ulety      RU     84.78  51.3572  112.4849
9       Kijang      KR     83.93  35.2442  129.2139
11     Kavieng      PG     82.56  -2.5744  150.7967
12     Isangel      VU     80.71 -19.5500  169.2667
19    Waingapu      ID     82.15  -9.6567  120.2641
22     Margate      GB     84.11  51.3813    1.3862
24   Lixourion      GR     80.60  38.2019   20.4314
26       Kapaa      US     82.38  22.0752 -159.3190
29     Northam      GB     76.01  51.0333   -4.2167
30  Morant Bay      JM     82.02  17.8815  -76.4093

In [47]:
# Set parameters to search for a hotel. 

params = {
    
    "radius": 5000,
    
    "type": "lodging",
    
    "key": g_key
    
}

In [48]:
# Iterate through the DataFrame.

for index, row in hotel_df.iterrows():
    
    # Get the latitude and longtitude.
    
    lat = row["Lat"]
    
    lng = row["Lng"]
    
    
    # Add the latitude and longitude to location key for the params dictionary.
    
    params["location"] = f"{lat},{lng}"
    
    
    # Use the search term: "lodging" and our latitude and longitude.
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    
    hotel_df.loc[index, "Hotel Name"]= hotels["results"][0]["name"]

IndexError: list index out of range

In [49]:
# Handle Index Error 


# Iterate through the DataFrame.

for index, row in hotel_df.iterrows():
    
    # Get the latitude and longtitude.
    
    lat = row["Lat"]
    
    lng = row["Lng"]
    
    
    # Add the latitude and longitude to location key for the params dictionary.
    
    params["location"] = f"{lat},{lng}"
    
    
    # Use the search term: "lodging" and our latitude and longitude.
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found...skipping.")

Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.

Create a Maximum Temperature Heatmap from Hotel Dataframe

In [51]:
# Add a heatmap of temperature for the vacation spots.

locations = hotel_df[["Lat", "Lng"]]

max_temp = hotel_df["Max Temp"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure 

fig

Figure(layout=FigureLayout(height='420px'))

In [52]:
# Add a heatmap of temperature for the vacation spots AND marker for each city.

locations = hotel_df[["Lat", "Lng"]]

max_temp = hotel_df["Max Temp"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations)

fig.add_layer(heat_layer)

fig.add_layer(marker_layer)

# Call the figure 

fig

Figure(layout=FigureLayout(height='420px'))

In [60]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

In [61]:
# Store the DataFrame Row.

hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [62]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.

locations = hotel_df[["Lat", "Lng"]]

max_temp = hotel_df["Max Temp"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(heat_layer)

fig.add_layer(marker_layer)


# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))